<head>
    <meta charset="utf-8" />
    <title>Mazel - Multiprapose Html template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
    <link rel="icon" type="image/png" href="/public/img/favicon.png">
    <link rel="apple-touch-icon" href="/public/img/favicon.png">

    <!-- CSS -->
    <link href="/public/css/website/style.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/ionicons.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/plugin/jPushMenu.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/plugin/animate.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/website/jquery-ui.css" rel="stylesheet" type="text/css" />

</head>
